.nav-item a.active {
	text-decoration: underline;
	cursor: default;
}
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item a.active {
	background-color: transparent !important;
}

.foot, nav{
	background-color: #3C587C;
}