<div class="container text-light py-4">
	<div class="row my-5">
	  <h4 class="text-center display-1 fw-bold text-light">
		Oszd meg tapasztalataid, kérdéseid!
	  </h4>
	</div>
  
	<div class="row my-5">
	  <form name="addMessage">
		<div class="mb-3">
			<textarea class="form-control bg-dark text-light shadow-lg p-3 rounded"
						placeholder="Komment írása"
						ng-init="message=null"
						ng-model="message"
						required
						id="floatingTextarea"
						rows="4"></textarea>
		</div>
  
		<div class="mb-3 text-end">
		  <button type="button" class="btn outline" 
				  ng-click="bekuld()"
				  ng-disabled="addMessage.$invalid">
			Küldés
		  </button>
		</div>
	  </form>
	</div>
  
	<!-- Üzenetek megjelenítése -->
	<div class="row my-5">
	  <table class="table table-dark table-striped">
		<thead>
		  <tr>
			<th ng-repeat="(k, v) in messages[0]" class="text-light">
			  {{k}}
			</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="x in messages">
			<td ng-repeat="(k, v) in x" class="text-light">
			  {{v}}
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
  </div>
  