<nav class="navbar navbar-expand-xl bg-dark fs-5 py-0" 
		 data-bs-theme="dark">

	<!-- Container -->
	<div class="container-fluid foot ">

		<img ng-src="./media/image/icons/Logo.svg" height="50px" alt="">

		<!-- Hamburger icon -->
		<button class="navbar-toggler ms-auto" 
						type="button" 
						data-bs-toggle="collapse"
						data-bs-auto-close="true"
						data-bs-target="#navbar_content" 
						aria-controls="navbar_content" 
						aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar content -->
		<div id="navbar_content" 
				 class="collapse navbar-collapse mt-0 mt-xl-2">

			<!-- Navbar content LEFT -->
			<ul class="navbar-nav me-auto">
				
				<!-- Home -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="home" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						<i class="fa-solid fa-house me-1"></i>
						<span class="text-capitalize text-small-caps">
							Főoldal
						</span>
					</a>
				</li>

				<!-- Sports -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="sports" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						 <i class="fa-solid fa-dumbbell"></i>
						<span class="text-capitalize text-small-caps">
							Sportok
						</span>
					</a>
				</li>

				<!-- WorkoutPlan -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="workoutplan" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						 <i class="fa-solid fa-people-carry-box me-1"></i>
						<span class="text-capitalize text-small-caps">
							Edzésterv
						</span>
					</a>
				</li>

				<!-- Meals -->
				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="meals" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						 <i class="fa-solid fa-utensils"></i>
						<span class="text-capitalize text-small-caps">
							Étrend
						</span>
					</a>
				</li>

				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="aboutus" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						 <i class="fa-solid fa-person-chalkboard me-1"></i>
						<span class="text-capitalize text-small-caps">
							Rólunk
						</span>
					</a>
				</li>

				<li class="nav-item mx-1">
					<a class="nav-link" 
						 ui-sref="forum" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						 <i class="fa-solid fa-comments"></i>
						<span class="text-capitalize text-small-caps">
							Fórum
						</span>
					</a>
				</li>
			</ul>

			<!-- Navbar content RIGHT -->
			<ul class="navbar-nav ms-auto">

				<!-- Shopping cart -->
				<li class="nav-item mx-1"
						ng-if="$root.user.felhid">
					<a class="nav-link" 
						 ui-sref="cart" 
						 ui-sref-active="active"
						 data-bs-toggle="collapse" 
						 data-bs-target=".navbar-collapse.show">
						<i class="fa-solid fa-cart-shopping me-1"></i>
						<span class="text-capitalize text-small-caps">
							kosár
						</span>
					</a>
				</li>

				<!-- User -->
				<li class="nav-item dropdown"
						data-bs-auto-close="true">
          <a class="nav-link dropdown-toggle" 
		  	href="#" 
			role="button" 
			data-bs-toggle="dropdown" 
			aria-expanded="false">
						<i class="fa-solid fa-user me-1"></i>
						<span class="text-capitalize text-small-caps">
							felhasználó
						</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end fs-5">

						<!-- User name -->
            <li class="nav-item">
							<span class="dropdown-item-text text-capitalize text-small-caps text-nowrap"
								 	ng-if="$root.user.felhid">
								<span>{{$root.user.felhNev}}</span>
							</span>
						</li>

						<!-- Login -->
            <li class="nav-item"
								ng-if="!$root.user.felhid">
							<a class="dropdown-item" 
								 ui-sref="login"
								 ui-sref-active="active">
								<i class="fa-solid fa-right-to-bracket me-1"></i>
								<span class="text-capitalize text-small-caps">
									bejelentkezés
								</span>
							</a>
						</li>

						<!-- Register -->
            <li class="nav-item"
								ng-if="!$root.user.felhid">
							<a class="dropdown-item" 
								 ui-sref="register"
								 ui-sref-active="active">
								<i class="fa-solid fa-id-card me-1"></i>
								<span class="text-capitalize text-small-caps">
									regisztráció
								</span>
							</a>
						</li>

						<!-- Profile -->
						<li class="nav-item"
							  ng-if="$root.user.felhid">
							<a class="dropdown-item" 
								 ui-sref="profile"
								 ui-sref-active="active">
								<i class="fa-regular fa-address-card me-1"></i>
								<span class="text-capitalize text-small-caps">
									profil
								</span>
							</a>
						</li>

						<!-- Users -->
						<li class="nav-item"
							  ng-if="$root.user.type==='A'">
							<a class="dropdown-item" 
								 ui-sref="users"
								 ui-sref-active="active">
								<i class="fa-solid fa-users me-1"></i>
								<span class="text-capitalize text-small-caps">
									felhasználók
								</span>
							</a>
						</li>

						<!-- Devider -->
						<li ng-if="$root.user.felhid">
							<hr class="dropdown-divider">
						</li>

						<!-- Logout -->
						<li class="nav-item"
								ng-if="$root.user.felhid">
							<a class="dropdown-item cursor-pointer"
								 ng-click="$root.logout()">
								<i class="fa-solid fa-right-from-bracket me-1"></i>
								<span class="text-capitalize text-small-caps">
									kijelenkezés
								</span>
							</a>
						</li>
          </ul>
        </li>
			</ul>
		</div>
	</div>
</nav>