<div class="container">
	<div class="row my-4">
		<h4 class="text-center"></h4>
	</div>
	<div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h5 class="text-primary text-uppercase">Az egészségért tenni kell!</h5>
            <h1 class="display-3 text-uppercase mb-0">Ingyenes Fitness Receptek</h1>
            <hr>
            <p>Ebben a kategóriájában olyan cikkeket találsz, amelyek <b>egészséges és finom</b> receptet mutatnak be. Nem számít, hogy csak most ismerkedsz a főzéssel és a sütéssel, vagy már több száz órát töltöttél a konyhában, a recepteket bárki egyszerűen és gyorsan elkészítheti.</p>
            <hr>
            <details class="my-5">
                <summary>
                  <h5><u>Érdekességek</u></h5>
                  <span class="icon">👇</span>
                </summary>
                <div class="my-5 text-start">
                    <h4>Milyen egészséges recepteket találhatsz a kategóriában?</h4>
                    <p>A navigáció megkönnyítésére receptjeinket úgy rendeztük el, hogy könnyedén megtalálhasd a számodra megfelelőt az étel típusa vagy a hozzávalói alapján, így mindenki kiválaszthatja a neki tetsző fogást.</p>

                    <h4>Reggeli</h4>
                    <p>A reggeli nélkülözhetetlen, mivel minden reggel feltölt a szükséges energiával. Az édes receptek, például a <b>zabkása</b>, remek választás lehet. De ha már unod a <b>zabpelyhet</b>, készíthetsz más édes fogásokat, például <b>palacsintát, crêpe-t</b> vagy <b>pirítóst</b>. És még sok más mennyei étel receptet találsz az oldalunkon, ami az ön kedvére lehet.</p>

                    <h4>Ebéd és vacsora</h4>
                    <p>Ha egészségesen akarsz étkezni, nem kell minden <b>ebédre és vacsorára</b> csirkét enned rizzsel. Étrendedet olyan fogásokkal teheted sokszínűvé, mint a <b>pisztáciás bundában elkészített lazac</b>, a <b>sült csirke krumplival</b> vagy a 
                    <b>csirke enchilada</b>.

                    <h4>Desszertek</h4>
                    <p>A desszertek szerelmesei nem tudják elképzelni a pihenés édes pillanatait valami finomság nélkül, amit a kávéjuk mellé ehetnek. Ismerd meg a <b>ricottatortát</b>, a <b>vörösbársony-tortát</b>, a <b>sajttortát</b>, a <b>piskótatekercset</b> vagy a <b>krémes tiramisut</b>.</p>

                    <h4>Italok</h4>
                    <p>Ha nem akarsz folyton vizet inni, <b>italötleteinkkel</b> feldobhatod a menüt. Megtalálhatod közöttük a <b>smoothie-kat</b>, a <b>fehérjés forró csokit</b>, a <b>pumpkin spice lattét</b> és a <b>jegeskávét</b>.</p>
                    <p>A fenti fogások mellett a kategóriában rengeteg receptet találhatsz különféle <b>nassolnivalókhoz</b>, és más finomságokhoz.</p>

                </div>
                <hr>
              </details>
        </div>
        <!-- Tabulator -->
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Reggeli</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Tízórai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Ebéd</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Uzsonna</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Vacsora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Desszertek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Italok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-8">Saláták</a>
                </li>
            </ul>
            
            <!-- Meals -->
            
            <div style="background-color: #3c4c60;" class="card mb-3"  
                 ng-repeat="x in data track by $index"
                 ng-if="x.tipus === mealsType">
                <div ng-id="tab-{{$index+1}}" class="row tab-pane fade show p-0 active">
                  <div class="col-md-4 text-start">
                    <img ng-src="./media/image/etelek/{{x.kep}}" style="width:100%;height:100%;" class="img-fluid img-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-center">
                      <h4 class="card-title mb-5">{{x.nev}}</h4>
                      <p class="card-text">
                        {{x.figyelemfelkeltes}}
                      <p>  
                      <h1 class="card-text text-down mt-5">
                        <a class="btn"
                          style="font-size:xx-large;" 
                          data-bs-toggle="modal" 
                          data-bs-target="#reggelik"
                          ng-click="bovebben(x)">
                          <b><u>Bővebben</u></b>
                        </a>
                      </h1>
                    </div>
                  </div>
                </div>
            </div>
                      
            <!-- Meals Modal -->
            <div class="modal fade" 
                ng-repeat="x in meal track by $index" 
                style="background-color: #3c4c60;" 
                id="reggelik" 
                role="dialog" 
                aria-labelledby="reggelik" 
                aria-hidden="true">
                <div class="modal-dialog modal-xl" 
                    role="document">
                  <div class="modal-content" >
                    <div class="modal-header">
                      <h2 class="modal-title" 
                          id="reggelik">
                            {{meal.nev}}
                      </h2>
                    </div>
                    <div class="my-3 ms-3 text-start col-md-12">
                      <img class="rounded img-fluid" ng-src="./media/image/etelek/{{meal.kep}}" alt="">
                    </div>
                    <div class="modal-body text-start">
                        <p>
                          <b>
                            {{meal.leiras}}
                          </b>
                        </p>

                        <h4 class="modal-title">
                          Hozzávalók:
                        </h4>
                        <ul>
                          <li>
                            {{meal.hozzavalok}}
                            <!-- {{mySplit(string,0)}} -->
                          </li> 
                        </ul>

                        <h4 class="modal-title">
                          Elkészítése:
                        </h2>
                        <p>
                          {{meal.elkeszites}}
                        </p>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" 
                              class="btn btn-secondary outline" 
                              data-bs-dismiss="modal">
                              Bezár
                      </button>
                    </div>
                  </div>
                </div>
            </div>
       

      </div>
    </div>
</div>