<div class="container">
	<div class="row my-5">
		<h4 class="text-center display-1">Találd meg a te sportod!</h4>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 col-sm-11 col-md-6 col-xxl-3 mb-4 " 
				 ng-repeat="x in data track by $index">
				<div class="card justify-content-center text-center w-auto" 
					style="width: 18rem;">
					<img ng-src="./media/image/{{data[$index].kep}}" 
						class="card-img-top">
					<div class="card-body">
					  <h5 class="card-title">{{x.megnevezes}}</h5>
					  <p class="card-text">{{x.rovid_leiras}}</p>
					  <a class="btn outline" 
							 data-bs-target="#bovebb" 
							 data-bs-toggle="modal"
							 ng-click="bovebben(x)"
							 ng-attr-id="{{ $index }}" >
							Bővebben
						</a>
					</div>
				</div>
		</div>
	</div>

	<!-- Modals -->
	<div class="modal fade" style="background-color: #3c4c60;" 
			id="bovebb" 
			tabindex="-1" 
			role="dialog" 
			aria-labelledby="bovebb" 
			aria-hidden="true">
		<div class="modal-dialog modal-xl" 
			role="document"  >
		  <div class="modal-content" >
			<div class="modal-header">
			  <h4 class="modal-title">{{sport.megnevezes}}</h4>
			  
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<video autoplay muted loop
							 class="w-50 h-50" 
							 ng-src="./media/video/{{sport.video}}" 
							 type="video/mp4">
				</video>
				<p class="m-5">{{sport.reszletes_leiras}}</p>
			</div>
			
			<div class="modal-footer">
			  <button type="button" 
			  		class="btn btn-secondary outline " 
			  		data-bs-dismiss="modal">Bezár</button>
			</div>
		  </div>
		</div>
	</div>

</div>