<div class="container">
	<div class="row my-4">
		<h4 class="text-center"></h4>
	</div>
	<div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h5 class="text-primary text-uppercase">Bárkinek, aki átmozgatná a testét!</h5>
            <h1 class="display-3 text-uppercase mb-0">Ingyenes edzésterv</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5"
                ng-init="daysOfWeek = ['Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat', 'Vasárnap']">
                <li class="nav-item" 
                    ng-repeat="d in daysOfWeek track by $index">
                    <a class="nav-link rounded-pill text-white" 
                       ng-class="{'active': $index == 0}"
                       data-bs-toggle="pill" 
                       href="#tab-{{$index+1}}">
                        {{d}}
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Kedd</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Szerda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Csütörtök</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Péntek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Szombat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Vasárnap</a>
                </li> -->
            </ul>
            <h5 class="my-4 text-primary text-uppercase click" data-bs-toggle="modal" data-bs-target="#bemelegites">
                <small><u> Fontos, hogy minden edzés előtt alaposan melegítsen be!</u></small>
            </h5>
            <div class="tab-content">
                <div ng-id="tab-{{$index+1}}" class="tab-pane fade show p-0 active" data-bs-toggle="modal" data-bs-target="#edzes">
                    <div class="row g-5 ">
                        <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="x in [].constructor(8) track by $index">
                            <div class="bg-white rounded text-center py-5 px-3 click h-100">
                                <h5 class="text-uppercase text-primary">{{$index+1}}</h5>
                                <p class="text-uppercase text-secondary mb-0">3x30mp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                       
            <!-- Modals -->
            <div class="modal fade" id="bemelegites" tabindex="-1" role="dialog" aria-labelledby="bemelegites" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="bemelegites">Bemelegítés protokoll (példa):</h4>
                      
                    </div>
                    <div class="modal-body text-start">
                       
                        <p>- fejkörzés 3x10db/irány</p>
                        <p>- karkörzés (egyszerre 1 kar) 3x30mp /kar</p>
                        <p>- cat&cow póz (domborítás, homorítás)3x10db</p>
                        <p>- derék körzés 3x10 (balra és jobbra is)</p>
                        <p>- lórúgás 3x20db / láb</p>
                        <p>- bokakörzés 3x30mp/irány</p>
                        <p>- guggolás 3x10db</p>
                        <p>- ellipszis tréner 10p</p>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary outline " data-bs-dismiss="modal">Bezár</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal fade" id="edzes" tabindex="-1" role="dialog" aria-labelledby="edzes" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="edzes">{{dadada}}</h4>
                      
                    </div>
                    <div class="modal-body text-start">
                       
                        <p>{{dada}}</p>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary outline " data-bs-dismiss="modal">Bezár</button>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>