<div class="container">
	<div class="row my-4">
		<h4 class="text-center"></h4>
	</div>
	<div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h1 class="display-3 text-uppercase text-primary">Bárkinek, aki átmozgatná a testét!</h1>
            <h5 class="text-primary">
                Lehetőséged van válogatni a gyakorlatok közül és saját edzéstervet összeállítani vagy nézd meg az INGYENES EDZÉSTERVET
            </h5>
        </div>
        <details class="my-5">
            <summary>
              <h5><u>Válogass a gyakorlatok közül</u></h5>
              <span class="icon fa-2x ms-3">👇</span>
            </summary>
            <hr>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-11 col-md-6 col-xxl-3 mb-4 " 
                    ng-repeat="x in data2 track by $index">
                    <div class="card justify-content-center text-center w-auto" 
                        style="width: 18rem;">
                        <img ng-src="./media/image/{{data2[$index].gyakKep}}" 
                        class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">{{x.gyakNev }}</h5>
                        <a class="btn outline" 
                                data-bs-target="#bovebb" 
                                data-bs-toggle="modal"
                                ng-click="bovebben(x)"
                                ng-attr-id="{{ $index }}" >
                                Bővebben
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </details>
        <hr>
        <!-- Modals -->
        <div class="modal fade" 
            style="background-color: #3c4c60;" 
            id="bovebb" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="bovebb" 
            aria-hidden="true">

            <div class="modal-dialog modal-xl" 
                    role="document"  >
              <div class="modal-content" >
                <div class="modal-header">
                  <h4 class="modal-title">{{gyakorlat2.gyakNev}}</h4>
                  
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <video autoplay muted loop
                                 class="w-50 h-50" 
                                 ng-src="./media/video/{{gyakorlat2.gyakVideo}}" 
                                 type="video/mp4">
                    </video>
                    <p class="m-5">{{gyakorlat2.gyakLeiras}}</p>
                </div>
                
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary outline " 
                            data-bs-dismiss="modal">Bezár</button>
                </div>
              </div>
            </div>
        </div>



        <div class="mb-5 text-center">
            
            <h5 class="display-1 text-primary text-uppercase mb-0">Ingyenes edzésterv</h5>
        </div>

        <ul class="nav nav-tabs" 
            role="tablist"
            ng-init="daysOfWeek = ['Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat', 'Vasárnap']">
            <li class="nav-item" 
                role="presentation"
                ng-repeat="day in daysOfWeek track by $index">
                <button class="nav-link"
                        ng-class="{'active': $index == currentDayIndex}" 
                        id="day_tab_{{$index}}" 
                        data-bs-toggle="tab" 
                        data-bs-target="#day-tab-pane_{{$index}}" 
                        type="button" 
                        role="tab" 
                        aria-controls="home-tab-pane" aria-selected="true"
                        ng-click="changeDay($index)">
                    {{day}}
                </button>
            </li>
        </ul>

        <h5 class="my-4 text-uppercase click" 
            data-bs-toggle="modal" 
            data-bs-target="#bemelegites"
            ng-if="!restDays.includes(selectedTab)">
            <small><u> Fontos, hogy minden edzés előtt alaposan melegítsen be!</u></small>
        </h5>

        <div class="tab-content">
            <div class="tab-pane fade" 
                 ng-repeat="day in daysOfWeek track by $index" 
                 ng-class="{'show active': $index == currentDayIndex}"
                 id="day-tab-pane_{{$index}}" 
                 role="tabpanel" 
                 aria-labelledby="day_tab_{{$index}}" 
                 tabindex="{{$index}}"
                 ng-init="restDay=restDays.includes($index)">
                 <div class="row g-5 ">
                    <div class="col-md-6 col-lg-4" 
                         ng-repeat="x in data[selectedTab] track by $index"
                         ng-if="!restDay">
                         
                        <div class="bg-dark shadow-lg rounded text-center py-5 px-3 click h-100">
                            <img ng-src="./media/image/{{x.gyakKep}}" 
                                 class="card-img-top rounded" 
                                 alt="...">
                            <h5 class="text-uppercase my-3">{{x.gyakNev}}</h5>
                            <a class="btn outline" 
                                data-bs-target="#bovebb" 
                                data-bs-toggle="modal"
                                ng-click="bovebben(x)"
                                ng-attr-id="{{ $index }}" >
                                Bővebben
                            </a>
                        </div>
                    </div>
                    <div ng-if="restDay">
                        <h1 class="text-center display-1 mt-5 pt-5">
                        Pihenőnap!
                    </h1>
                    <video autoplay muted loop id="myVideo">
                        <source ng-src="./media/video/pihenonap.mp4" type="video/mp4">
                    </video>
                    </div>
                    
                </div>
            </div>
          </div>
        </div>



        <!-- <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5"
                ng-init="daysOfWeek = ['Hétfő', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat', 'Vasárnap']">
                <li class="nav-item" role="presentation"
                    ng-repeat="d in daysOfWeek track by $index">
                    <a class="nav-link rounded-pill text-white" 
                       ng-class="{'active': $index == currentDayIndex}"
                       data-bs-toggle="pill" 
                       href="#tab-{{$index+1}}">
                        {{d}}
                    </a>
                </li>
            </ul>
            <h5 class="my-4 text-primary text-uppercase click" 
                data-bs-toggle="modal" 
                data-bs-target="#bemelegites">
                <small><u> Fontos, hogy minden edzés előtt alaposan melegítsen be!</u></small>
            </h5>
            <div class="tab-content">

                <div ng-id="tab-{{$index+1}}" class="tab-pane fade show p-0 active ">
                    <div class="row g-5 ">
                        <div class="col-lg-4 col-md-6" ng-repeat="x in [].constructor(6) track by $index">
                            <div class="bg-dark shadow  rounded text-center py-5 px-3 click h-100">
                                <img ng-src="./media/image/{{data[$index].gyakKep}}" class="card-img-top rounded" alt="...">
                                <h5 class="text-uppercase mt-5">{{data[$index].gyakNev}}</h5>
                                <a class="btn outline" 
                                    data-bs-target="#bovebb" 
                                    data-bs-toggle="modal"
                                    ng-click="bovebben(data[$index])"
                                    ng-attr-id="{{ $index }}" >
                                    Bővebben
						        </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                       
            <!-- Modals -->
            <div class="modal fade" 
                id="bemelegites" 
                tabindex="-1" 
                role="dialog" 
                aria-labelledby="bemelegites" 
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="bemelegites">Bemelegítés protokoll (példa):</h4>
                      
                    </div>
                    <div class="modal-body text-start">
                       
                        <p>- fejkörzés 3x10db/irány</p>
                        <p>- karkörzés (egyszerre 1 kar) 3x30mp /kar</p>
                        <p>- cat&cow póz (domborítás, homorítás)3x10db</p>
                        <p>- derék körzés 3x10 (balra és jobbra is)</p>
                        <p>- lórúgás 3x20db / láb</p>
                        <p>- bokakörzés 3x30mp/irány</p>
                        <p>- guggolás 3x10db</p>
                        <p>- ellipszis tréner 10p</p>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary outline " data-bs-dismiss="modal">Bezár</button>
                    </div>
                  </div>
                </div>
            </div>


            <div class="modal fade" 
                 style="background-color: #3c4c60;" 
                 id="bovebb" 
                 tabindex="-1" 
                 role="dialog" 
                 aria-labelledby="bovebb" 
                 aria-hidden="true">
                <div class="modal-dialog modal-xl" 
                     role="document"  >
                  <div class="modal-content" >
                    <div class="modal-header">
                      <h4 class="modal-title">
                        {{gyakorlat.gyakNev}}
                      </h4>
                      
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <video autoplay muted loop
                                     class="w-50 h-50" 
                                     ng-src="./media/video/{{gyakorlat.gyakVideo}}" 
                                     type="video/mp4">
                        </video>
                        <p class="m-5">{{gyakorlat.gyakLeiras}}</p>
                    </div>
                    <p class="text-start ms-5 rounded text-white">3x12 ismétlés moderált súllyal</p>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary outline " data-bs-dismiss="modal">Bezár</button>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>